nav.gnav
      ul.gnav-list
        li.gnav-item
          a.gnav-link(href="#about" class="topmove") ABOUT
        li.gnav-item
          a.gnav-link(href="#work" class="topmove") WORKS
        li.gnav-item
          a.gnav-link(href="#service" class="topmove") SERVICE
        li.gnav-item
          a.gnav-link(href="#contact" class="topmove") CONTACT
