.hamburger
  nav.hamburger__nav
    .hamburger__inner
      ul.hamburger__list
        li.hamburger__item
          a(href="#about" class="topmove") ABOUT
        li.hamburger__item
          a(href="#work" class="topmove") WORKS
        li.hamburger__item
          a(href="#service" class="topmove") SERVICE
        li.hamburger__item
          a(href="#contact" class="topmove") CONTACT
  .hamburger__btn
    span
    span
    span
  .hamburger__mask

