.hamburger {
  display: none;
  &__inner {
    margin-top: 100px;
  }
  &__nav {
    display: block;
    position: fixed;
    top: 0;
    right: -300px;
    bottom: 0;
    width: 80vw;
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all 0.5s;
    z-index: 13;
    opacity: 0;
  }

  &__logo img {
    margin: 27px 0 26px 15px;
  }
  &__item {
    margin-top: 10px;
    position: relative;
    margin: 0;
    background-color: #333;
    border-bottom: 1px solid white;
    a {
      display: block;
      color: white;

      font-size: 16px;
      padding: 1.25em;
      text-decoration: none;
      transition-duration: 0.2s;
      &:hover {
        background: #e4e4e4;
      }
    }
  }
  &__btn {
    display: block;
    position: fixed;
    top: 25px;
    right: 30px;
    width: 30px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 13;
    span {
      display: block;
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: #787093;
      border-radius: 4px;
      transition: all 0.5s;
      &:nth-child(1) {
        top: 4px;
      }
      &:nth-child(2) {
        top: 14px;
      }
      &:nth-child(3) {
        bottom: 4px;
      }
    }
  }
  &__mask {
    display: none;
    transition: all 0.5s;
  }
  &.open {
    .hamburger__nav {
      right: 0%;
      opacity: 1;
    }
    .hamburger__btn {
      span {
        &:nth-child(1) {
          -webkit-transform: translateY(10px) rotate(-315deg);
          transform: translateY(10px) rotate(-315deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          -webkit-transform: translateY(-10px) rotate(315deg);
          transform: translateY(-10px) rotate(315deg);
        }
      }
    }
    .hamburger__mask {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background: #000;
      opacity: 0.8;
      z-index: 12;
      cursor: pointer;
    }
  }
  &__btn-box {
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
  }

  &__text-box {
    margin-top: 15px;
    margin-left: 10px;
  }
  &__tel-box {
    display: flex;
    padding-top: 5px;
    font-weight: bold;
  }
  @media screen and (max-width: 767px) {
    display: block;
  }
}
